.logo {
    width: 50px;
    cursor: pointer;
    margin: 0px 0;
}

.nav-link {
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    background-color: black !important;
    border-radius: 1px;
    color: white !important;
}